* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: #00ff99;
  font-family: "Courier New", monospace;
  overflow: hidden;
}

/* MATRIX BACKGROUND */
#matrix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

/* TERMINAL WINDOW */
.terminal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 900px;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #00ff99;
  border-radius: 10px;
  padding: 30px;
  color: #00ff99;
  z-index: 5;
  box-shadow: 0 0 20px #00ff99;
  min-height: 300px;
}

.cursor {
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
