/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: #00ff99;
  font-family: "Courier New", monospace;
  overflow: hidden;
}

/* MATRIX BACKGROUND */
#matrix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: block;
}

/* TERMINAL CONTAINER */
.terminal {
  position: relative;
  z-index: 2;
  width: 90%;
  max-width: 900px;
  margin: 80px auto;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #00ff99;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 0 25px #00ff99;
  overflow: hidden;
  min-height: 420px;
}

/* CURSOR */
.cursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 0.8s infinite;
  color: #00ff99;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* SCROLLBAR HIDE */
::-webkit-scrollbar {
  display: none;
}
